{% extends 'layout.html' %}
{% block content %}
  <table class="table table-striped">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">X</th>
          <th scope="col">Y</th>
          <th scope="col">Z</th>
          <th scope="col">VX</th>
          <th scope="col">VY</th>
          <th scope="col">VZ</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Altitude</th>
        </tr>
      </thead>
      <tbody>
        {% for key,value in data.items() %}
          <tr>
            <th scope="row">{{value['id']}}</th>
            <td>{{value['name']}}</td>
            <td>{{value['x']}}</td>
            <td>{{value['y']}}</td>
            <td>{{value['z']}}</td>
            <td>{{value['vx']}}</td>
            <td>{{value['vy']}}</td>
            <td>{{value['vz']}}</td>
            <td>{{value['latitude']}}</td>
            <td>{{value['longitude']}}</td>
            <td>{{value['altitude']}}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>	
{% endblock content %}